.productbackground1{
    background: #e0a093 !important; 
}
 
.productbackground2{
    background: #bcbd22 !important; 
}

.productbackground3{
    background: #FFC300 !important; 
} 

.grandtotalcolor{
    background: green !important; 
}