.mealBody{
    background: #72626229 !important;
}

.breakWord{
    word-break: break-all !important;
}

.layoutCss{
    border-bottom: 0.2rem solid rgb(174 174 174);
}

.tableFixHead {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 35rem;
}

.cursorPointer{
    cursor: pointer;
}

.headerFix{
    background: cadetblue;
    z-index: 100;
}

::-webkit-scrollbar{
    z-index: 999 !important;
}

.backgroundOverView{
    background: #5f9ea00f;
}