.page-content-wrapper {
    position: relative;
    margin-right: 0;
    width: 110%;
}
.full-width-title {
    background: #006c99;
    color: #fff;
    min-height: 95px;
    line-height: 95px;
}
.full-width-title > span {
    width: 100%;
    display: inline-block;
    padding-left: 32px;
}
.full-width-title > span > h2 {
    font-weight: 100;
}
h1, h2 {
    font-size: 1.714em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.general-support_wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
}
.container.gbi-container {
    padding-right: 48px;
    padding-left: 96px;
    margin-left: 0;
    max-width: 100%;
}
.container {
    width: 1170px;
    margin-right: auto;
}
.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-group {
    margin-bottom: 16px;
}
.in-input {
    padding-left: 7px;
    padding-top: 5px;
    position: absolute;
    font-weight: 600;
    z-index: 5;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
}
.form-control-wide {
    height: 55px;
    padding: 16px 5px 0;
    color: #777;
    box-shadow: inset 0 2px 2px #9da7ae;
    font-family: 'Lato', sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    padding: 16px 5px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input {
    margin-top: 5px;
}
input, textarea {
    border-radius: 2px !important;
}
.bottom-padding {
    margin-bottom: 16px;
    display: table;
    content: " ";
}
.btn {
    border: 2px solid #00a2dd;
    padding: 11px 52px;
    border-radius: 2px;
    background: #00a2dd;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 2px 5px 0px rgb(0 0 0 / 26%);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
textarea.form-control {
    height: auto;
}
p, span, a, h1, h2, h3, h4 {
    font-family: "Gotham A", "Gotham B", "Gotham", Tahoma, Helvetica, sans-serif;
}
p {
    margin: 0 0 10px;
    font-family: "Gotham A", "Gotham B", "Gotham", Tahoma, Helvetica, sans-serif;
    font-weight: bold;
}